body {
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    background-color: #131921;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    height: 50px;
    background-color: #131921;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 50px;
}

header a {
    color: white;
    font-weight: 500;
    padding-right: 10px;
}

.background img {
    width: 100%;
}

nav ul {
    list-style-type: none;
}

.title-one {
    text-align: left;
}

.boton {
    background-color: white;
}

.article-link ul {
    list-style-type: none;
}

.article-link a {
    color: white;
}

.article-link img {
    width: 10%;
}


h1 {
    font-size: 1.8rem;
    color: white;
    text-align: center;
}

.text-two {
    text-align: right;
}

.text-two h2 {
    color: #FF7F00;
}

.footer {
    text-align: center;
    font-size: 10px;
}

.text-three {
    text-align: center;
}

.table-link,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    align-content: center;
    margin: auto;
}

th,
td {
    padding: 5px;
}

table img {
    width: 10%;
}

.text-four {
    text-align: center;
}

.olvide {
    font-size: 15px;
}

.logo-corto img {
    width: 10%;
}

.text-five img {
    width: 10%;
}

.img-5 img {
    width: 10%;
}

